body{
    @apply bg-black overflow-x-hidden
}

a{
    @apply text-blue-800 hover:border-b-blue-800 hover:border-b-2
}

button{
    @apply block h-10 mx-auto text-lg rounded-lg px-3
}

option{
    @apply text-black
}

input, select{
   @apply block my-3 h-10 p-1 mx-auto w-full bg-transparent border-b-white border-b-2 px-2
}

.section-main{
    @apply h-80 flex flex-col bg-blend-darken
}

.img-backdrop{
    @apply h-full w-full -z-10 bg-black opacity-50
}

.navbar-brand{
    @apply text-lg text-red-700 font-bold
}

.navbar-icon{
    @apply text-2xl my-auto text-white mx-2 px-2 py-1
}

.card{
    @apply w-36 h-72 shadow-sm mx-auto
}

.card:hover{
    @apply  border-b-2 border-white
}

.card-img{
    @apply w-full h-[215px]
}

.sidebar{
    animation: sidebar 0.10s ease-in 0s 1;
    @apply bg-[#0A2647]
}

@keyframes sidebar {
    from {
        margin-left: -200px;
    }
    to{
        margin-left: 0px;
    }
}

@screen sm{
    .section-main{
        @apply h-96
    }

    .navbar-brand{
        @apply text-xl p-2
    }

    .navbar-icon{
        @apply hidden
    }

    .card{
        @apply h-80 w-40
    }

    .card-img{
        @apply h-56
    }
}

@screen md{
    .section-main{
        @apply h-[550px]
    }

    .navbar-brand{
        @apply text-2xl p-3
    }

    .navbar-icon{
        @apply hidden
    }

    .card{
        @apply h-96 w-48
    }

    .card-img{
        @apply h-64
    }
}

@screen lg{
    .section-main{
        @apply h-[700px]
    }

    .navbar-brand{
        @apply text-2xl p-3
    }

    .navbar-icon{
        @apply hidden
    }

    .card{
        @apply h-96 w-48
    }

    .card-img{
        @apply h-72
    }

    .description{
        @apply overflow-auto
    }
}
